# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Results, outputs, large files
results/
*.h5
*.tif
*.png

# OS files
.DS_Store

# Virtual environments
.env/
venv/
